<%= form_with(model: logistic, url: logistic.persisted? ? logistic_path(logistic) : logistics_path, local: true) do |form| %>
  <% if logistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(logistic.errors.count, 'error') %> запретила сохранение этого объявления:</h2>

      <ul>
        <% logistic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Название %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Описание %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Цена %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :Количество %>
    <%= form.text_area :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>